USE [master]
GO
/****** Object:  Database [sales_pos]    Script Date: 01/07/2021 14:31:21 ******/
CREATE DATABASE [sales_pos]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'sales_pos', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\sales_pos.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'sales_pos_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\sales_pos_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [sales_pos].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [sales_pos]
GO
/****** Object:  Table [dbo].[bn_category]    Script Date: 01/07/2021 14:31:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bn_category](
	[id_category] [int] IDENTITY(1,1) NOT NULL,
	[designation] [varchar](100) NOT NULL,
 CONSTRAINT [PK_bn_category] PRIMARY KEY CLUSTERED 
(
	[id_category] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bn_client]    Script Date: 01/07/2021 14:31:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bn_client](
	[id_client] [int] IDENTITY(1,1) NOT NULL,
	[firstname] [varchar](50) NOT NULL,
	[middlename] [varchar](50) NULL,
	[lastname] [varchar](50) NOT NULL,
	[address] [varchar](150) NULL,
	[idcard] [varchar](100) NULL,
	[phone] [varchar](50) NOT NULL,
	[addedBy] [varchar](50) NOT NULL,
	[creation_date] [datetime] NULL,
 CONSTRAINT [PK_bn_client] PRIMARY KEY CLUSTERED 
(
	[id_client] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bn_guest_client]    Script Date: 01/07/2021 14:31:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bn_guest_client](
	[id_guestClient] [int] IDENTITY(1,1) NOT NULL,
	[id_client] [int] NULL,
	[phone] [varchar](15) NULL,
	[creation_date] [datetime] NULL,
 CONSTRAINT [PK_bn_guest_client] PRIMARY KEY CLUSTERED 
(
	[id_guestClient] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bn_imei]    Script Date: 01/07/2021 14:31:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bn_imei](
	[id_imei] [int] IDENTITY(1,1) NOT NULL,
	[id_product] [int] NOT NULL,
	[imei] [varchar](20) NULL,
	[id_pos] [int] NULL,
	[creation_date] [datetime] NULL,
	[addedBy] [varchar](100) NULL,
 CONSTRAINT [PK_imei] PRIMARY KEY CLUSTERED 
(
	[id_imei] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bn_login]    Script Date: 01/07/2021 14:31:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bn_login](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](255) NOT NULL,
	[last_login] [datetime] NULL,
	[granted] [tinyint] NULL,
	[logout] [datetime] NULL,
	[usercheck] [varchar](10) NOT NULL,
	[ip] [varchar](50) NULL,
 CONSTRAINT [PK__migratio__3213E83F77B404C7] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bn_pages]    Script Date: 01/07/2021 14:31:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bn_pages](
	[id_page] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](250) NULL,
	[description] [text] NULL,
 CONSTRAINT [PK_bn_pages] PRIMARY KEY CLUSTERED 
(
	[id_page] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bn_plainte]    Script Date: 01/07/2021 14:31:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bn_plainte](
	[id_plainte] [int] IDENTITY(1,1) NOT NULL,
	[id_client] [int] NOT NULL,
	[id_type] [int] NOT NULL,
	[id_subtype] [int] NULL,
	[description] [text] NULL,
	[solution] [text] NULL,
	[status] [varchar](10) NULL,
	[addedBy] [varchar](50) NOT NULL,
	[creation_date] [datetime] NULL,
 CONSTRAINT [PK_bn_plainte] PRIMARY KEY CLUSTERED 
(
	[id_plainte] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bn_pos]    Script Date: 01/07/2021 14:31:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bn_pos](
	[id_pos] [int] IDENTITY(1,1) NOT NULL,
	[designation] [varchar](100) NOT NULL,
	[city] [varchar](100) NULL,
	[province] [varchar](100) NULL,
	[creation_date] [datetime] NULL,
 CONSTRAINT [PK_bn_pos] PRIMARY KEY CLUSTERED 
(
	[id_pos] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bn_product]    Script Date: 01/07/2021 14:31:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bn_product](
	[id_product] [int] IDENTITY(1,1) NOT NULL,
	[code] [varchar](50) NULL,
	[designation] [varchar](200) NULL,
	[price] [decimal](18, 2) NULL,
	[id_category] [int] NOT NULL,
	[creation_date] [datetime] NULL,
	[addedBy] [varchar](100) NULL,
	[isDeleted] [tinyint] NULL,
	[deletedTime] [datetime] NULL,
	[deletedBy] [varchar](100) NULL,
	[modificationTime] [datetime] NULL,
	[modifyBy] [varchar](100) NULL,
 CONSTRAINT [PK_bn_product] PRIMARY KEY CLUSTERED 
(
	[id_product] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bn_product_hist]    Script Date: 01/07/2021 14:31:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bn_product_hist](
	[id_product] [int] NOT NULL,
	[code] [varchar](50) NULL,
	[designation] [varchar](200) NULL,
	[price] [decimal](18, 2) NULL,
	[id_category] [int] NOT NULL,
	[creation_date] [datetime] NULL,
	[addedBy] [varchar](100) NULL,
	[isDeleted] [tinyint] NULL,
	[deletedTime] [datetime] NULL,
	[deletedBy] [varchar](100) NULL,
	[modificationTime] [datetime] NULL,
	[modifyBy] [varchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bn_rate]    Script Date: 01/07/2021 14:31:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bn_rate](
	[id_rate] [int] IDENTITY(1,1) NOT NULL,
	[rate] [decimal](18, 2) NULL,
	[addedBy] [varchar](100) NULL,
	[creation_date] [datetime] NULL,
 CONSTRAINT [PK_bn_rate] PRIMARY KEY CLUSTERED 
(
	[id_rate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bn_rate_hist]    Script Date: 01/07/2021 14:31:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bn_rate_hist](
	[id_rate_hist] [int] IDENTITY(1,1) NOT NULL,
	[id_rate] [int] NULL,
	[rate] [decimal](18, 2) NULL,
	[addedBy] [varchar](10) NULL,
	[creation_date] [datetime] NULL,
 CONSTRAINT [PK_bn_rate_hist] PRIMARY KEY CLUSTERED 
(
	[id_rate_hist] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bn_sale_extra]    Script Date: 01/07/2021 14:31:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bn_sale_extra](
	[id_sale_imei] [int] IDENTITY(1,1) NOT NULL,
	[id_sale] [int] NOT NULL,
	[id_product] [int] NOT NULL,
	[imei] [varchar](25) NULL,
	[msisdn] [char](9) NULL,
	[iccid] [varchar](50) NULL,
	[serial] [varchar](50) NULL,
 CONSTRAINT [PK_bn_sale_imei] PRIMARY KEY CLUSTERED 
(
	[id_sale_imei] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bn_sales]    Script Date: 01/07/2021 14:31:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bn_sales](
	[id_sale] [int] IDENTITY(1,1) NOT NULL,
	[id_client] [int] NOT NULL,
	[id_product] [int] NOT NULL,
	[id_ref] [int] NULL,
	[imei] [varchar](30) NULL,
	[quantity] [int] NOT NULL,
	[unit_price] [decimal](18, 2) NOT NULL,
	[total_price] [decimal](18, 2) NOT NULL,
	[addedBy] [varchar](50) NOT NULL,
	[creation_date] [datetime] NULL,
 CONSTRAINT [PK_bn_sales] PRIMARY KEY CLUSTERED 
(
	[id_sale] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bn_sales_credit]    Script Date: 01/07/2021 14:31:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bn_sales_credit](
	[id_sale_credit] [int] NOT NULL,
	[id_product] [int] NOT NULL,
	[amount] [int] NULL,
	[phone] [varchar](15) NULL,
	[quantity] [int] NULL,
	[total_amount] [decimal](18, 2) NULL,
	[addedBy] [varchar](100) NULL,
	[creation_date] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bn_sales_exchange]    Script Date: 01/07/2021 14:31:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bn_sales_exchange](
	[id_exchange] [int] IDENTITY(1,1) NOT NULL,
	[id_plainte] [int] NULL,
	[id_ref] [int] NULL,
	[id_product] [int] NULL,
	[id_product_new] [int] NULL,
	[oldimei] [varchar](20) NULL,
	[newimei] [varchar](20) NULL,
	[addedBy] [varchar](50) NULL,
	[creation_date] [datetime] NULL,
 CONSTRAINT [PK_bn_sales_exchange] PRIMARY KEY CLUSTERED 
(
	[id_exchange] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bn_sales_reference]    Script Date: 01/07/2021 14:31:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bn_sales_reference](
	[id_ref] [int] IDENTITY(1,1) NOT NULL,
	[reference] [varchar](50) NOT NULL,
	[nbre_article] [int] NOT NULL,
	[total_price] [decimal](18, 2) NOT NULL,
	[id_client] [int] NULL,
	[creation_date] [datetime] NULL,
	[addedBy] [varchar](100) NULL,
 CONSTRAINT [PK_bn_sales_reference] PRIMARY KEY CLUSTERED 
(
	[id_ref] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bn_stock]    Script Date: 01/07/2021 14:31:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bn_stock](
	[id_stock] [int] IDENTITY(1,1) NOT NULL,
	[id_product] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[id_pos] [int] NOT NULL,
	[creation_date] [datetime] NULL,
 CONSTRAINT [PK_bn_stock] PRIMARY KEY CLUSTERED 
(
	[id_stock] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bn_subtype_plainte]    Script Date: 01/07/2021 14:31:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bn_subtype_plainte](
	[id_subtype] [int] IDENTITY(1,1) NOT NULL,
	[id_type] [int] NOT NULL,
	[designation] [varchar](200) NULL,
	[creation_date] [datetime] NULL,
 CONSTRAINT [PK_bn_subtype_plainte] PRIMARY KEY CLUSTERED 
(
	[id_subtype] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bn_transaction]    Script Date: 01/07/2021 14:31:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bn_transaction](
	[id_trans] [int] IDENTITY(1,1) NOT NULL,
	[id_stock] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[id_pos] [int] NOT NULL,
	[creation_date] [datetime] NULL,
	[addedBy] [varchar](100) NULL,
 CONSTRAINT [PK_bn_transaction] PRIMARY KEY CLUSTERED 
(
	[id_trans] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bn_typeplainte]    Script Date: 01/07/2021 14:31:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bn_typeplainte](
	[id_type] [int] IDENTITY(1,1) NOT NULL,
	[designation] [varchar](150) NULL,
 CONSTRAINT [PK_bn_typeplainte] PRIMARY KEY CLUSTERED 
(
	[id_type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bn_user]    Script Date: 01/07/2021 14:31:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bn_user](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[password] [varchar](255) NOT NULL,
	[role] [varchar](50) NOT NULL,
	[status] [varchar](50) NULL,
	[names] [varchar](100) NOT NULL,
	[pages] [text] NULL,
	[addedBy] [varchar](50) NULL,
	[creation_date] [datetime] NULL,
	[id_pos] [int] NULL,
 CONSTRAINT [PK_bn_user] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[plainte_extra]    Script Date: 01/07/2021 14:31:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[plainte_extra](
	[id_extra] [int] IDENTITY(1,1) NOT NULL,
	[id_plainte] [int] NOT NULL,
	[facture] [varchar](20) NULL,
	[serial] [varchar](20) NULL,
	[imei] [varchar](25) NULL,
	[msisdn] [char](10) NULL,
	[evc] [char](10) NULL,
 CONSTRAINT [PK_plainte_extra] PRIMARY KEY CLUSTERED 
(
	[id_extra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[bn_category] ON 

INSERT [dbo].[bn_category] ([id_category], [designation]) VALUES (1, N'Phone                                                                                               ')
INSERT [dbo].[bn_category] ([id_category], [designation]) VALUES (2, N'Modem                                                                                               ')
INSERT [dbo].[bn_category] ([id_category], [designation]) VALUES (3, N'Scratch                  ')
SET IDENTITY_INSERT [dbo].[bn_category] OFF
GO
SET IDENTITY_INSERT [dbo].[bn_login] ON 

INSERT [dbo].[bn_login] ([id], [username], [last_login], [granted], [logout], [usercheck], [ip]) VALUES (1, N'africell', CAST(N'2021-07-01T14:28:58.963' AS DateTime), 1, NULL, N'user', N'::1')
SET IDENTITY_INSERT [dbo].[bn_login] OFF
GO
SET IDENTITY_INSERT [dbo].[bn_pages] ON 

INSERT [dbo].[bn_pages] ([id_page], [name], [description]) VALUES (14, N'addUser', N'la page pour ajouter un utilisateur')
INSERT [dbo].[bn_pages] ([id_page], [name], [description]) VALUES (15, N'deleteUser', N'la page pour supprimer un utilisateur')
INSERT [dbo].[bn_pages] ([id_page], [name], [description]) VALUES (16, N'dashboard ', N'la page du tableau de bord')
SET IDENTITY_INSERT [dbo].[bn_pages] OFF
GO
SET IDENTITY_INSERT [dbo].[bn_rate] ON 

INSERT [dbo].[bn_rate] ([id_rate], [rate], [addedBy], [creation_date]) VALUES (3, CAST(2000.00 AS Decimal(18, 2)), N'bnadmin', CAST(N'2021-05-27T14:25:02.393' AS DateTime))
SET IDENTITY_INSERT [dbo].[bn_rate] OFF
GO
SET IDENTITY_INSERT [dbo].[bn_rate_hist] ON 

INSERT [dbo].[bn_rate_hist] ([id_rate_hist], [id_rate], [rate], [addedBy], [creation_date]) VALUES (1002, 2, CAST(2030.00 AS Decimal(18, 2)), N'bnadmin3', CAST(N'2020-12-08T08:45:39.630' AS DateTime))
SET IDENTITY_INSERT [dbo].[bn_rate_hist] OFF
GO
SET IDENTITY_INSERT [dbo].[bn_subtype_plainte] ON 

INSERT [dbo].[bn_subtype_plainte] ([id_subtype], [id_type], [designation], [creation_date]) VALUES (2, 1, N'ACHAT AFRIPHONE
', CAST(N'2021-06-02T11:33:31.577' AS DateTime))
INSERT [dbo].[bn_subtype_plainte] ([id_subtype], [id_type], [designation], [creation_date]) VALUES (3, 1, N'ACHAT MIFI
', CAST(N'2021-06-02T11:33:38.940' AS DateTime))
INSERT [dbo].[bn_subtype_plainte] ([id_subtype], [id_type], [designation], [creation_date]) VALUES (5, 1, N'ROUTER
', CAST(N'2021-06-02T11:34:09.413' AS DateTime))
SET IDENTITY_INSERT [dbo].[bn_subtype_plainte] OFF
GO
SET IDENTITY_INSERT [dbo].[bn_typeplainte] ON 

INSERT [dbo].[bn_typeplainte] ([id_type], [designation]) VALUES (1, N'VENTE')
INSERT [dbo].[bn_typeplainte] ([id_type], [designation]) VALUES (2, N'SERVICE')
INSERT [dbo].[bn_typeplainte] ([id_type], [designation]) VALUES (3, N'SUGGESTION')
SET IDENTITY_INSERT [dbo].[bn_typeplainte] OFF
GO
SET IDENTITY_INSERT [dbo].[bn_user] ON 

INSERT [dbo].[bn_user] ([id], [username], [password], [role], [status], [names], [pages], [addedBy], [creation_date], [id_pos]) VALUES (7, N'africell', N'$2y$10$7JmZmNP86Hqp3cAiy.T5reMYdoJPCUsU12Sf0IJTw8qLKPIJu6wam', N'ADMIN', N'ACTIVE', N'myadmin', N'addUser;deleteUser;dashboard;users;logins;editUser;userProfile;produits;ajoutProduit;clients;editProduit;ventes;plaintes;addPos;addStock;imeis;addImei;', N'bnadmin3', CAST(N'2020-12-08T13:35:02.877' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[bn_user] OFF
GO
/****** Object:  Index [IX_bn_client]    Script Date: 01/07/2021 14:31:22 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_bn_client] ON [dbo].[bn_client]
(
	[id_client] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_bn_sales_reference]    Script Date: 01/07/2021 14:31:22 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_bn_sales_reference] ON [dbo].[bn_sales_reference]
(
	[id_ref] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_bn_user]    Script Date: 01/07/2021 14:31:22 ******/
ALTER TABLE [dbo].[bn_user] ADD  CONSTRAINT [IX_bn_user] UNIQUE NONCLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[bn_client] ADD  CONSTRAINT [DF_bn_client_creation_date]  DEFAULT (getdate()) FOR [creation_date]
GO
ALTER TABLE [dbo].[bn_guest_client] ADD  CONSTRAINT [DF_bn_guest_client_creation_date]  DEFAULT (getdate()) FOR [creation_date]
GO
ALTER TABLE [dbo].[bn_imei] ADD  CONSTRAINT [DF_imei_creation_date]  DEFAULT (getdate()) FOR [creation_date]
GO
ALTER TABLE [dbo].[bn_login] ADD  CONSTRAINT [DF__migration__last___5FB337D6]  DEFAULT (getdate()) FOR [last_login]
GO
ALTER TABLE [dbo].[bn_login] ADD  CONSTRAINT [DF__migration__grant__60A75C0F]  DEFAULT ('0') FOR [granted]
GO
ALTER TABLE [dbo].[bn_login] ADD  CONSTRAINT [DF__migration__logou__619B8048]  DEFAULT (NULL) FOR [logout]
GO
ALTER TABLE [dbo].[bn_login] ADD  CONSTRAINT [DF__migration__userc__628FA481]  DEFAULT ('inconnu') FOR [usercheck]
GO
ALTER TABLE [dbo].[bn_login] ADD  CONSTRAINT [DF__migration_lo__ip__6383C8BA]  DEFAULT (NULL) FOR [ip]
GO
ALTER TABLE [dbo].[bn_plainte] ADD  CONSTRAINT [DF_bn_plainte_status]  DEFAULT (N'PENDING') FOR [status]
GO
ALTER TABLE [dbo].[bn_plainte] ADD  CONSTRAINT [DF_bn_plainte_creation_date]  DEFAULT (getdate()) FOR [creation_date]
GO
ALTER TABLE [dbo].[bn_pos] ADD  CONSTRAINT [DF_bn_pos_creation_date]  DEFAULT (getdate()) FOR [creation_date]
GO
ALTER TABLE [dbo].[bn_product] ADD  CONSTRAINT [DF_bn_product_creation_date]  DEFAULT (getdate()) FOR [creation_date]
GO
ALTER TABLE [dbo].[bn_product] ADD  CONSTRAINT [DF_bn_product_isDeleted]  DEFAULT ((0)) FOR [isDeleted]
GO
ALTER TABLE [dbo].[bn_product] ADD  CONSTRAINT [DF_bn_product_modificationTime]  DEFAULT (getdate()) FOR [modificationTime]
GO
ALTER TABLE [dbo].[bn_rate] ADD  CONSTRAINT [DF_bn_rate_creation_date]  DEFAULT (getdate()) FOR [creation_date]
GO
ALTER TABLE [dbo].[bn_rate_hist] ADD  CONSTRAINT [DF_bn_rate_hist_creation_date]  DEFAULT (getdate()) FOR [creation_date]
GO
ALTER TABLE [dbo].[bn_sales] ADD  CONSTRAINT [DF_bn_sales_creation_date]  DEFAULT (getdate()) FOR [creation_date]
GO
ALTER TABLE [dbo].[bn_sales_credit] ADD  CONSTRAINT [DF_bn_sales_credit_creation_date]  DEFAULT (getdate()) FOR [creation_date]
GO
ALTER TABLE [dbo].[bn_sales_exchange] ADD  CONSTRAINT [DF_bn_sales_exchange_creation_date]  DEFAULT (getdate()) FOR [creation_date]
GO
ALTER TABLE [dbo].[bn_sales_reference] ADD  CONSTRAINT [DF_bn_sales_reference_creation_date]  DEFAULT (getdate()) FOR [creation_date]
GO
ALTER TABLE [dbo].[bn_stock] ADD  CONSTRAINT [DF_bn_stock_quantity]  DEFAULT ((0)) FOR [quantity]
GO
ALTER TABLE [dbo].[bn_stock] ADD  CONSTRAINT [DF_bn_stock_creation_date]  DEFAULT (getdate()) FOR [creation_date]
GO
ALTER TABLE [dbo].[bn_subtype_plainte] ADD  CONSTRAINT [DF_bn_subtype_plainte_creation_date]  DEFAULT (getdate()) FOR [creation_date]
GO
ALTER TABLE [dbo].[bn_transaction] ADD  CONSTRAINT [DF_bn_transaction_creation_date]  DEFAULT (getdate()) FOR [creation_date]
GO
ALTER TABLE [dbo].[bn_user] ADD  CONSTRAINT [DF_bn_user_creation_date]  DEFAULT (getdate()) FOR [creation_date]
GO
USE [master]
GO
